
  .Page80 .swiper-pagination-bullet:nth-child(1) {
    background: url('../../images/img/1980.jpg') no-repeat !important;
    background-position: center !important;
    background-size: 100% !important;
  }

  .Page80 .swiper-pagination-bullet:nth-child(2) {
    background: url('../../images/img/1981.jpg') no-repeat !important;
    background-position: center !important;
    background-size: 100% !important;
  }

  .Page80 .swiper-pagination-bullet:nth-child(3) {
    background: url('../../images/img/1982.jpg') no-repeat !important;
    background-position: center !important;
    background-size: 100% !important;
  }

  .Page80 .swiper-pagination-bullet:nth-child(4) {
    background: url('../../images/img/1983.jpg') no-repeat !important;
    background-position: center !important;
    background-size: 100% !important;
  }

  .Page80 .swiper-pagination-bullet:nth-child(5) {
    background: url('../../images/img/1984.jpg') no-repeat !important;
    background-position: center !important;
    background-size: 100% !important;
  }
  .Page80 .swiper-pagination-bullet:nth-child(6) {
    background: url('../../images/img/1985.jpg') no-repeat !important;
    background-position: center !important;
    background-size: 100% !important;
  }
  .Page80 .swiper-pagination-bullet:nth-child(7) {
    background: url('../../images/img/1986.jpg') no-repeat !important;
    background-position: center !important;
    background-size: 100% !important;
  }
  .Page80 .swiper-pagination-bullet:nth-child(8) {
    background: url('../../images/img/1987.jpg') no-repeat !important;
    background-position: center !important;
    background-size: 100% !important;
  }
  .Page80 .swiper-pagination-bullet:nth-child(9) {
    background: url('../../images/img/1988.jpg') no-repeat !important;
    background-position: center !important;
    background-size: 100% !important;
  }
  .Page80 .swiper-pagination-bullet:nth-child(10) {
    background: url('../../images/img/1989.jpg') no-repeat !important;
    background-position: center !important;
    background-size: 100% !important;
  }

 