* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Home, .Page70, .Page80, .Page90, .Page00, .Page10, .Page20{
    min-height: 100vh;
    position: relative;

}

.Home::before, .Page00::before, .Page10::before, .Page20::before, .Page90::before, .Page70::before, .Page80::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.Home::before, .Page80::before, .Page00::before, .Page20::before   {
    background: url('./images/wallpaper.jpg') no-repeat;
    background-size: cover;
}
.Page70::before,.Page90::before, .Page10::before {
    background: url('./images/wallpaper70.jpg') no-repeat;
    background-size: cover;
}

